.page {
    background-color: #9d2c2c;
    min-height: 100vh;
    /*высота  относительно экрана на котором смотрят.....
       приставка    min     позволит блоку растянутся чтоб поместилось все что внутри
        этого блока---ИНАЧЕ БУДут БЕССОВЕСТНО ВЫЛАЗИТЬ ЭЛЕМЕНТЫ из данного
         блока и отрисовыватся в нижнем блоке(если нижний дудет канечно)*/

}

.container {
    border: 1px solid red;
    height: 500px; /*Если высота -ширина в процентах---ЭТО ЗНАЧИТ ЧТО ОТТАЛКИВАЕТСЯ
ВЫСОТА_ШИРИНА ОТ РОДИТЕЛЯ И ПОЭТОМУ НАДО СМОТРЕТЬ КАКАЯ
ВЫСОТА У РОДИТЕЛЯ*/
   width: 500px;
    margin:  auto;
}