.page {
    background-color: #9d2c2c;
    min-height: 100vh;
    /*высота  относительно экрана на котором смотрят.....
       приставка    min     позволит блоку растянутся чтоб поместилось все что внутри
        этого блока---ИНАЧЕ БУДут БЕССОВЕСТНО ВЫЛАЗИТЬ ЭЛЕМЕНТЫ из данного
         блока и отрисовыватся в нижнем блоке(если нижний дудет канечно)*/
    display: flex;
    justify-content:space-around;
}

