.page {
    background-color: #9d2c2c;
    min-height: 100vh; /*высота  относительно экрана на котором смотрят.....
    приставка    min     позволит блоку растянутся чтоб поместилось все что внутри
     этого блока---ИНАЧЕ БУДут БЕССОВЕСТНО ВЫЛАЗИТЬ ЭЛЕМЕНТЫ из данного
      блока и отрисовыватся в нижнем блоке(если нижний дудет канечно)*/
}

/* ширину контейнеpа можно задать в процентах---и тогда при уменьшении формата
КОНТЕЙНЕР будет уменьшатся но будут оставатся отступы справа и слева всегда
 -------можно ширину контейнеpа задать ПО СТАНДАРТУ 1170px и при этом
 max-width: 1170px;--приставка max дасть контейнеру возможность
 уменьшится если будет уменьшатся экран...без пистаки max  при уменьшении
  экрана будет изчезать то что размещено внутри контейнера
 */
.container {
    border: 1px solid wheat;
    height: 100%;
    max-width: 1170px;
    padding: 0 15px;
    /*этим паддингом сделал отступ рамки в которой
   три ссылки ОТ КРАЯ  ОБЩЕЙ РАМКИ КОТОРАЯ- КОНТЕЙНЕР*/
    margin: 0 auto;
    /*расположение контейнера по середине...
                    margin: сверху покраям снизу (margin: 0 0 5px*/
}

.headerAndItem {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.items {
    display: flex;
    flex-wrap: wrap;/* если размер экрана уменьшится то скинет элементы вниз*/
    justify-content: space-around;
    text-align: center /* выравнивает строчный элемент КОТОРЫЙ НАХОДИТСЯ ВНУТРИ
    БЛОЧНОГО ЭЛЕМЕНТА... обязательно ТЕКСТ КОТОРЫЙ Я ХОЧУ ВЫРОВНЯТЬ
    должен быть в тэге  <span>{text}</span>*/
}

.line {
    width: 150px;
    border: 2px solid #f9c94f;
}