
.page {
    background-color: #9d2c2c;
    min-height: 100vh;
    /*высота  относительно экрана на котором смотрят.....
       приставка    min     позволит блоку растянутся чтоб поместилось все что внутри
        этого блока---ИНАЧЕ БУДут БЕССОВЕСТНО ВЫЛАЗИТЬ ЭЛЕМЕНТЫ из данного
         блока и отрисовыватся в нижнем блоке(если нижний дудет канечно)*/
}


.container {
    border: 1px solid red;
    height: 100%; /*Если высота -ширина в процентах---ЭТО ЗНАЧИТ ЧТО ОТТАЛКИВАЕТСЯ
ВЫСОТА_ШИРИНА ОТ РОДИТЕЛЯ И ПОЭТОМУ НАДО СМОТРЕТЬ КАКАЯ
ВЫСОТА У РОДИТЕЛЯ*/
    max-width: 1170px;
    padding:  5px;
    /*этим паддингом сделал отступ рамки в которой
   три ссылки ОТ КРАЯ  ОБЩЕЙ РАМКИ КОТОРАЯ- КОНТЕЙНЕР*/
    margin: 0 auto;
    /*расположение контейнера по середине...
                    margin: сверху покраям снизу (margin: 0 0 5px*/
}

.title{
    display: flex;
    justify-content: center;
}

.blok {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: wheat;
}

@media screen and (max-width : 832px){ /* будут применятся все стили из .blok(они выше прописаны)
но будет использовано свойство  justify-content: center; покаместь ширина страницы не достигнет
максимального размера в 832 ед*/
    .blok {
        justify-content: center;
    }
}             /*Без медиа запроса---при уменьшении формата блоки
              перекидываются вниз за счет ( flex-wrap: wrap;) НО ПРИЭТОМ
               ОБА БЛОКА прижимаются к левой части экрана....СОВЕТУЮТ не делать
               много МЕДИА ЗАПРОСОВ потомучто они могут перезатирать
               другдруга и можно запутатся'}/>
МЕДИА ЗАПРОС это ПРО АДАПТИВНОСТЬ-чтоб на мобильный устройствах(У НИХ УЖЕ ЭКРАНЫ)
 отображался сайт тоже нормально.... ПРИ УМЕНЬшении ширины экрана
  БЛОКИ ПЕРЕКИНУТСЯ ОДИН ПОД ОДНОГО и плюс надо установить
   свойство justify-content:center  (вместо justify-content: space-between;)
    И ТОГДА БЛОКИ БУДУТ ПО СЕРЕДИНЕ ЭКРАНА А НЕ ПРИЖАТЫ К КРАЮ .....
    .....при скукоживании ВЫСМОТРЕТЬ РАЗМЕР ПРИ КОТОРОМ уже
     произошло перекидывание блока вниз---В ДАННОМ
      ПРИМЕРЕ ЭТО 832 ---это ТОЧКА с которой надо использовать другие
      стили justify-content:center .....--------CИНТАКСИС МЕДИА
       ЗАПРОСА @media screen and (max-width : 832px){
       .blok {
        justify-content: center;} }
        ----------ВНУТРИ  .blok { } БЫЛИ прописаны стили но я добавил
         СТИЛЬ ПРИ ОПРЕДЕЛЕННОМ РАЗМЕРЕ'
*/


/*..................................................

Еще медиа запрос на ИНПУТ И ТЕКСТЕРИЮ
@media screen and (max-width: 700px) { !*медиаЗапрос на Инпут и Текстерию
и при сужении экрана размер(длинна Инпута и Текстерии)  увеличится*!
    .blokInputTewtarea {
        width: 100%;
    }
}*/


.blokInputTewtarea{
   display: flex;
    width: 50%; /*---ширина блока в котором будет Инпут и Текстерия  ограничится половиной
общей ширины */
    flex-direction: column;
    align-items: center;

}
.blokInputTewtarea input, .blokInputTewtarea textarea{
    width: 100%;  /*Ширина самого инпута и самой текстерии будет на всю ширину
блока внутри которого инпут и текстерия находятся*/
}
