

.header {
    /*  Елемент внутри <div> будет на всю ширину сам по себе растягиватся
      поэтому можно не задавать ширину*/
    height: 80px;
    background-color: #d1d0d0;
}


/* ширину контейнеpа можно задать в процентах---и тогда при уменьшении формата
КОНТЕЙНЕР будет уменьшатся но будут оставатся отступы справа и слева всегда
 -------можно ширину контейнеpа задать ПО СТАНДАРТУ 1170px и при этом
 max-width: 1170px;--приставка max дасть контейнеру возможность
 уменьшится если будет уменьшатся экран...без пистаки max  при уменьшении
  экрана будет изчезать то что размещено внутри контейнера
 */
.container{
    border: 1px solid red;
    height: 100%;
    max-width: 1170px;
    padding: 0 15px; /*этим паддингом сделал отступ рамки в которой
три ссылки ОТ КРАЯ  ОБЩЕЙ РАМКИ КОТОРАЯ- КОНТЕЙНЕР*/
    margin: 0 auto;/*расположение контейнера по середине...
                margin: сверху покраям снизу (margin: 0 0 5px*/
}

/*wrapper-обертка----двигает по контейнеру рамку- ВНУТРИ РАМКИ ТРИ ССЫЛКИ*/
.wrapper {
    display: flex; /*Обязательно прописывать если работаю с ФЛЕКСАМИ*/
    justify-content: flex-end;
    align-items: center;
    height: 100%; /*если не указать то высота будет определена ТЕМ _СКОЛЬКО МЕСТА
    ЗАНИМАЮТ САМИ ЭЛЕМЕНТЫ*/
    border: 1px solid #5bf518
}

/*menu- это рамка с тремя ссылками И РАЗМЕЩЕНИЕ ССЫЛОК ВНУТРИ ЭТОЙ РАМКИ ТУТ
 ПРОПИСЫВАЮ и длинну рамки и выстраивание ссылок одну за другой (А НЕ ОДНУ ПОД ДРУГОЙ)*/
.menu {
    border: 1px solid rebeccapurple; /* граница (толщина, сплошнаялиния, цвет можно не задавать)*/
    width: 400px;/*рамку сделал не на всю ширину экрана*/
    display: flex; /*Обязательно прописывать если работаю с ФЛЕКСАМИ*/
    justify-content: space-between; /*ссылки распределились внутри контейнераи между ссылками
появились пробелы*/
}

/*а  -это первая ссылка */
.a{
    text-decoration: none; /* убирает подчеркивание под ссылкой */
}

.body {
    background-color: #e0dede;
    height: 86vh; /*высота в процентах относительно экрана на котором смотрят */
}

.blok{
    border: 1px solid brown;
    height:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;/* если размер экрана уменьшится то скинет элементы вниз*/
}

.left{
    border: 1px solid black;
    width: 400px;
    height: 150px;
/*    min-height: 150px;минимальная высота НО ЕСЛИ ВНУТРИ БУДЕТ МНОГО ТЕКСТА
ТОГДА УВЕЛИЧИТСЯ АВТОМАТИЧЕСКИ--- можно высоту не задовать ТОЖЕ БУДЕТ ОПРЕДЕЛЯТСЯ ВЫСОТА
В ЗАВИСИМОСТИ ОТ ТОГО ЧТО В ДИВКУ ВСТАВЛЮ*/
    background-color: #f9c94f;
}

.right {
    border: 1px solid black;
    width: 300px;
    height: 400px;
    background-color: #f9c94f;
}